<div class="split-view-container">
    <div class="left">
        <div class="left-inside">
        <form class="example-form">
            <mat-form-field class="example-full-width" >
              <mat-label>Product</mat-label>
              <input type="text"
                     placeholder="name of the product"
                     aria-label="name"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <mat-divider></mat-divider>
          <div class="table-header button-inside">
            <div>Product name </div>
           <div>price</div>
         </div>
         <mat-divider></mat-divider>
          <div *ngFor="let product of filteredOptions| async">
            <button class="button"(click)=" openDialog(product.id);">
                <div class="button-inside">
                 <div>{{product.name}} </div>
                <div>{{product.price}}</div>
                </div>
            </button>  
          </div>
        </div>
    </div>
    <div class="right">
      <div *ngIf="basket.length == 0" class="basket">

        <div><mat-icon  class="basket-icon">shopping_basket</mat-icon></div>
        <div>Empty Basket</div>
      </div>
      <div *ngIf="basket.length != 0">
        <div class="table-header button-inside">
           <div>Product name </div>
          <div>quantity</div>
          <div>Action</div>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let element of basket">
              <div class="button button-inside">
               <div>{{element.name}} </div>
              <div>{{element.quantity}}</div>
              <button class="button-icon" (click)=" deleteElement(element);"><mat-icon>delete_outline</mat-icon></button>
              </div>
        </div>

        <div class="action">
          <mat-divider></mat-divider>
          <div class="table-header button-inside">
            <button  class="button-icon button"><mat-icon>close</mat-icon></button>
            <button class="button-icon button"><mat-icon>check</mat-icon> </button>
         </div>
        </div>

      </div>
    </div>
  </div>