
.left-inside{
    margin: 15px 15px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .button-icon {
    background-color: transparent;
    color: white;
    border : 0;
    padding: 3px;
  }
.table-header {
    background-color: transparent;
    color: white;
    border: 0;
    transition-duration: 0.4s;
    width: 100%;
    font-size: 1.2em;
    padding: 15px 7px;
}
  .button {
    background-color: transparent;
    color: white;
    border: 0;
    transition-duration: 0.4s;
    width: 100%;
    font-size: 1.2em;
    padding: 15px 7px;
}
.button:hover {
    background-color: rgb(75, 75, 75); 
    color: white;
    }

.button-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
